$background-color = #fff
$foreground-color = #222
$middle-color = mix($background-color, $foreground-color)
$link-color = #0074D9
$unit = 16px
$width = $unit * 40

body, input, select, textarea
    background $background-color
    color $foreground-color
    line-height $unit * 1.5
    font-size $unit
    // font-family "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", serif
    font-family "source sans pro", sans-serif

h1, h2, h3, h4, h5, h6
    font-weight normal
    margin $unit 0

    &.subheader
        margin -$unit 0 $unit
        color $middle-color

h1
    font-size $unit * 2
    line-height $unit * 3

h2
    font-size $unit * 1.5
    line-height $unit * 2

h3
    font-size $unit * 1.25
    line-height $unit * 1.5

h4, h5, h6
    font-size $unit * 1
    line-height $unit * 1.5

menu, ol, ul
    padding 0 0 0 ($unit * 2)

ul
    list-style square

a
    color $link-color
    border-bottom 1px solid $link-color
    text-decoration none

    &:hover
        color lighten($link-color, 10%)
        border-bottom-color lighten($link-color, 10%)

hr
    border 0
    border-top 1px solid $middle-color
    height 0
    margin $unit 0

header
    background darken($background-color, 5%)

    a
        display block
        max-width $width
        margin 0 auto
        padding $unit
        font-size $unit * 1.25
        line-height $unit * 2
        border-bottom 0
        color lighten($foreground-color, 20%)

small
    font-size 12px

main
    max-width $width
    padding 0 $unit
    margin $unit auto

time
    color $middle-color

    &.project-time
        text-align right
        display block
        margin $unit 0

.monospace, pre, samp, code, kbd
    font-family menlo, "dejavu sans mono", "bitstream vera sans mono", consolas, inconsolata, "lucida console", monaco, monospace
    font-size 14px
    background #eee
    padding 4px
    margin -4px
    border-radius 2px
