---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Kevin Heis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <style>
      body {
        font-family: system-ui, sans-serif;
        line-height: 1.5;
        margin: 0;
      }
      main {
        margin: 0 auto;
        padding: 2rem;
        max-width: 40rem;
      }
      a {
        color: inherit;
      }
      @media (prefers-color-scheme: dark) {
        body {
          background: black;
          color: lightgray;
        }
      }
    </style>
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
