---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Kevin Heis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <style>
      body {
        font-family: system-ui, sans-serif;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        margin-bottom: 0;
      }
      a {
        color: blue;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
